:root{
	--color-primary: #035aa6;
	--color-secundary:#0697BD;
}

h1,h2,h3,h4,h5{
	font-family: 'Domine', serif !important;
}

body{
	font-family: 'Roboto', sans-serif !important;
	font-family: 'Open Sans', sans-serif !important;
	/*font-size: 0.9625em !important;*/
	/*line-height: 1.5 !important;*/
}

.content{
	margin-bottom: 0px !important;
}

a[href*="mailto"]{
	color: white;
}

a[href*="mailto"]:hover{
	font-weight: bolder;
	color: white;
}

/*--------------  Tamaño imagen 200 x 200  --------------*/
.is-200x200{
	height: 12.5em;
	width: 12.5em
}

/*--------------  padding y margin  --------------*/
.p-10{
	padding: 0px 10%;
}

.p-20{
	padding: 0px 15%;
}

.m-auto{
	margin: 0px auto;
}
/*--------------  Tamaños  --------------*/
.has-shadow{
	box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

.is-big{
	font-size: 5em;
	font-weight: 700;
}

.is-size-9{
	font-size: 0.92em;
}

/*--------------  Colores  --------------*/
.text-primary{
	color: var(--color-primary);
}

.label{
	font-weight: normal !important;
}

.background-primary{
	background-color: var(--color-primary);
}

.background-secundary{
	background-color: var(--color-secundary);
}

.btn-primary{
	background-color: var(--color-primary) !important;
	color: white !important;
	border: transparent !important;
}

.btn-primary:hover {
	background-color: #276cda;
	border: transparent;
}

/*--------------  Testimonios  --------------*/
#testimonios{
	background-image: url(../img/bg/fondo-mundo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*--------------  Hero paginas Info top  --------------*/
#info__top{
	background-image: url('../img/bg/fondo-mundo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*--------------  Politicas Devolucion  --------------*/

ol > li p{
	margin-bottom: 1em;
	margin-left: 0.9em;
	text-align: justify;
}

/*--------------  Footer  --------------*/
.border-top{
	border-top: 2px solid var(--color-primary);
}

.footer{
	/*background-image: url(../img/bg/fondo-footer.png);*/
	/*background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	background-color: var(--color-primary) !important;
}

.footer__list{
	padding-left: 1em;
}

.footer__list >li{
	padding: 0.7em 0px;
	border-bottom: 1px solid white;
}

.footer__list > li a:hover{
	transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	/*color: var(--color-primary);*/
	font-weight: bold;
}

.footer a[href]{
	color: white;
}

.footer a[href]:hover{
	text-decoration: underline;

}


