.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 80px;
}
.agile__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.agile__nav-button--prev {
  left: 0;
}
.agile__nav-button--next {
  right: 0;
}
.agile__dots {
  bottom: -25px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: #cac9c9;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
  background-color: #999;
}

.slide {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#testigos.slide {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*------------ Media query para smartphone max-width: 767px -------------*/
@media only screen and (max-width: 767px){
  .agile__nav-button{
    font-size: 15px;
    width: 4em;
  }
}

/*------------ Media query para TABLET (max-width: 768px) and (min-width:1023px) -------------*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
  
}

/*------------ Media query para DESKTOP (min-width: 1024px) and (max-width:1279px) -------------*/
@media only screen and (min-width: 1024px) and (max-width:1279px){
  
}

